<div class="text-center">
    <h1 class="display-4">BusTicketApp Yayında</h1>
    <p class="lead">
         <a  asp-action="Login" asp-controller="Account">Giriş Yap</a>
                 |
                  <a asp-action="Register" asp-controller="Account">Kayıt Ol</a>
    </p>
</div>
